.container{
   display: flex;
   flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.sketch{
    box-sizing: border-box;
    opacity: 0;
}

.bigContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    margin-top: 50px;
}

button{
    padding:15px 40px ;
    font-size: 15px;
    font-weight: bold;
}
